header(id="header", class="color-n")
  h1#logo 
    a(href="/") DBOGO
  section.main-menu
    ul
      li 
        a(href="/") 홈
      li
        a(href="/portfolio") 포트폴리오
      li
        a(href="/board") 소식